github "mxcl/PromiseKit" ~> 4.4
github "ReactiveX/RxSwift" ~> 3.6.1


github "pronebird/UIScrollView-InfiniteScroll"



github "ParsePlatform/Parse-SDK-iOS-OSX"


github "xmartlabs/Eureka" ~> 4.1.1

github "osteslag/Changeset"

github "texturegroup/texture" "master"
