github "mxcl/PromiseKit" ~> 4.4
github "ReactiveX/RxSwift" ~> 3.6.1


github "pronebird/UIScrollView-InfiniteScroll"



github "ParsePlatform/Parse-SDK-iOS-OSX"


github "xmartlabs/Eureka" "feature/Xcode9-Swift3_2"

github "osteslag/Changeset"
